.root{
    -fx-background-color: black;
    -fx-border-color: orange;
    -fx-border-width: 1px;
}

#h-box{
    -fx-background-color: black;
}

#center-pane{
    -fx-background: black;
}


#logs{
    -fx-background-color: black;
}

#log-state{
    -fx-fill: lime;
    -fx-font-size: 20;
    -fx-font-family:   "cursive";
}
#log-end{
    -fx-fill: red;
    -fx-font-size: 20;
    -fx-font-family:   "cursive";
}

#log-log{
    -fx-fill: white;
    -fx-font-size: 20;
    -fx-font-family:   "cursive";
}
#log-fire{
    -fx-fill: yellow;
    -fx-font-size: 20;
    -fx-font-family:   "cursive";
}

.scroll-pane{
    -fx-background: black;
    -fx-border-color: orange;
    -fx-border-width: 1px;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}


.scroll-bar{
    -fx-background-color: black;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: purple;
    -fx-background-radius: 5em;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: black;
    -fx-border-color: black;
    -fx-background-radius: 0em;
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: purple;
}

.play-button{
    -fx-text-fill: lime;
    -fx-font-size: 25px;
    -fx-border-color: lime;
    -fx-border-radius: 20;
    -fx-background-color: black;

}

.play-button:pressed{
    -fx-text-fill: black;
    -fx-font-size: 25px;
    -fx-border-color: black;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color: lime;
}

.zoom-button{
    -fx-text-fill: lime;
    -fx-font-size: 25px;
    -fx-border-color: lime;
    -fx-border-radius: 20;
    -fx-background-color: black;

}

.zoom-button:pressed{
    -fx-text-fill: black;
    -fx-font-size: 25px;
    -fx-border-color: black;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color: lime;
}


